@using ClassLibrary1;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div> 
        <table>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.CostPrice.ToString("C")</td>
                    <td>@product.RetailPrice.ToString("C")</td>
                </tr>
            }
        </table>

    </div>
</body>
</html>
