@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="Create" method="post">
        Id: <input type="text" name="Id"/><br/>
        Name: <input type="text" name="Name" /><br />
        Cost Price: <input type="text" name="CostPrice" /><br />
        Retail Price: <input type="text" name="RetailPrice" /><br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>
